<!DOCTYPE HTML>
<html lang="es">

<head>
	<%- include('partials/head.ejs') %>
</head>

<body class="is-preload">

	<header id="header">
		<%- include('partials/menu.ejs') %>
	</header>

	<div id="resultsSearch"></div>

	<!-- Wrapper -->
	<div id="wrapper">
		
		<!-- Main -->
		<div id="main" class="post">		

			<!-- 
					Create Dinamic Post 
				-->

		</div>

		<%- include('partials/sidebar.ejs') %>
			<%- include('partials/footer.ejs') %>

				<script src="js/createContent.js"></script>

</body>

</html>