	<!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="images/AMComics++.png" alt="" /></a>
                <header>
                    <h2>AMComic++</h2>
                    <p>Contamos con una selección de lo mejor en cómics!</p>
                </header>
            </section>         

        <!-- Mini Posts -->
            <section>
                <h2>Conoce a los autores de nuestros comics:</h2>
                <div class="mini-posts">

                    <!-- 
                        Create Dinamic Mini Post 
                    -->

                </div>
            </section>